input{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 310px;
    height: 56px;
    border-radius: 5px;
    font-size: medium;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
    right:0;
}

